<div class="post-list">
    <h2 class="post-list-title"><div class="aa"></div> &nbsp;&nbsp;&nbsp;
        <a class="fl" href="{{ blog.link_blog }}" title="{{ blog.title_blog }}">{{ blog.title_blog }}</a>
        <div class="aa">
            &nbsp<em></em>
        </div>
        <span class="fr">{{ blog.date_blog }}</span>
        <div class="cc"></div>
        <div class="line"></div>
    </h2>
    <div class="post-list-text">
        <p>{{ blog.index_blog }}</p>
    </div>
    <ul class="post-list-info">
        <li class="cat">分类：<a href="#" rel="category tag">{{ blog.class_blog }}</a></li>
        <li class="tag">标签： <a href="#" rel="tag">{{ blog.tag_blog }}</a></li>
        <li class="more"><a href="{{ blog.link_blog }}">阅读全文</a></li>
    </ul>
</div>