<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HFL家教服务系统</title>
<link rel="stylesheet" href="/static/css/first.css" type="text/css" />
</head>
<body>
<div id="masthead" style="background: url('/static/images/kao_top.jpg');">
  <h1>工大家教服务系统</h1></div>
<div id="table">
    <table width="845" border="1">
      <tr>
        <td>学 校</td><td><h2>哈尔滨工业大学</h2></td>
      </tr>
      <tr>
        <td>小组名</td><td style='text-align:center;'>HFL</td>
      </tr>
      <tr>
        <td>组 员1</td><td style='text-align:center;'>黄苏苏</td>
      </tr>
      <tr>
        <td>组 员2</td><td style='text-align:center;'>杨斌彬</td>
      </tr>
      <tr>
        <td>组 员3</td><td style='text-align:center;'>李佳河</td>
      </tr>
      </tr>
    </table>
</div>
<br />
<div id="bottom"> <img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/">Back</a>| <a href="/ContactUs">Contact Us</a> | &copy;2015 HuangFengLee </div>
</body>
</html>
