<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HFL家教服务系统</title>
<link rel="stylesheet" href="/static/css/first.css" type="text/css" />
</head>
<body>
<div id="masthead" style="background: url('/static/images/kao_top.jpg');">
  <h1>工大家教服务系统</h1>
</div>
<div id="table">
    <table width="845" border="1">
      <tr>
        <td>黄苏苏</td><td>&nbsp;</td>
      </tr>
      <tr>
        <td>杨斌彬</td><td>&nbsp;</td>
      </tr>
      <tr>
        <td>李佳河</td><td style='text-align:center;'>lijiahe19941013@sina.cn 或 1130310123@hit.edu.cn</td>
      </tr>
    </table>
</div>
<br />
<div id="bottom"> <img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/">Back</a>| <a href="/AboutUs">About Us</a> | &copy;2015 HuangFengLee </div>
</body>
</html>
