<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function check_same()
	{
	var first = document.getElementById('first_input').value;
	var second = document.getElementById('second_input').value;
	if (first != second)
	{
		alert("输入不一致！请重新输入！");
	}
	else
	{
		alert("修改成功！");
	}
	}
	</script>
<title>HFL家教系统</title>
<link rel="stylesheet" href="/static/css/emx_nav_left.css" type="text/css" />
</head>
<body onmousemove="closesubnav(event);">
<div id="masthead">
  <h1 id="siteName">家教系统</h1>
  <div id="utility"> <a href="/logout">退出</a> | <a href="/updatepassword">修改密码</a> | <a href="/lookthrough_student">返回</a> </div>
  <div id="globalNav"><img alt="" src="/static/images/glbnav_right.gif" height="32" width="4" id="gnr" />
  </div>
</div>
<div id="pagecell1">
  <img alt="" src="/static/images/tl_curve_white.gif" height="6" width="6" id="tl" /> <img alt="" src="/static/images/tr_curve_white.gif" height="6" width="6" id="tr" />
  <div id="content">
    <div class="list">
	<form method='post'>
		<table class='table table-bordered'>
			<tr>
				<td>请输入新的密码</td><td><input id='first_input' name='first_input' type='text'></td>
			</tr>
			<tr>
				<td>请再输入一次</td><td><input id='second_input' name='second_input' type='text'></td>
			</tr>
			<tr>
				<td>&nbsp;</td><td><input type='submit' value='修改' onclick='check_same()'><input type='reset' value='清空'></td>
			</tr>
		</table>
	</form>
    </div>
  </div>
</div>
<br />
<div id="bottom"> <img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/AboutUs">About Us</a> | <a href="/ContactUs">Contact Us</a> | &copy;2015 HuangFengLee </div>
</body>
</html>
