<html>
<head>
<title>李佳河</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/tutor.css" type="text/css" />
</head>
<body >
<table  border=5  style="bordercolor=lightblue;align=center;margin: 10% auto;">
<tr height=50 bgcolor=green>

<td width=100 align=center
><font size=4>学号</td>
<td width=620 colspan=5 align=center
><font size=5>1130310123</td>
</tr>

<td width=100 align=center
><font size=4>姓名</td>
<td width=620 colspan=5 align=center
><font size=5>李佳河</td>
</tr>

<td width=100 align=center
><font size=4>性别</td>
<td width=620 colspan=5 align=center
><font size=5>男</td>
</tr>

<td width=100 align=center
><font size=4>在读大学</td>
<td width=620 colspan=5 align=center
><font size=5>哈尔滨工业大学</td>
</tr>

<tr height=50 bgcolor=green>
<td width=720 colspan=6 align=center
><font size=5>座右铭</td>
</tr>
<tr height=50 bgcolor=green>
<td width=720  colspan=6 style="text-align:center;">May there be enough clouds in my life, to make a beautiful sunset!
</td>
</tr>
<td width=720 colspan=6></td>
</tr>
</table>
<center> 
    <div id="bottom"> <img src="/static/images/kao_bottom.jpg" width="36" height="18" /> <a href="/" style='text-decoration:none'>Back</a>| <a href="/contactme" style='text-decoration:none'>Contact Me</a> | &copy;2015 Lee </div>
</body>
</html>