<html>
<head>
<title>李佳河</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/tutor.css" type="text/css" />
</head>
<body>
<table  border=5  style="bordercolor=lightblue;align=center;margin: 10% auto;">
<tr height=50 bgcolor=green>

<tr height=50 bgcolor=green>
<td width=110 align=center
><font size=4>电子邮箱：</td>
<td width=610 colspan=5 align=center
><font size=5>1130310123@hit.edu.cn 或 lijiahe19941013@sina.cn</td>
</tr>


<tr height=50 bgcolor=green>
<td width=720 colspan=6 align=center
><font size=5>联系方式</td>
</tr>

<tr height=50 bgcolor=green>
<td width=720  colspan=6 align=center>13159877501
</td>
</tr>

<tr height=50 bgcolor=green>
<td width=720 colspan=6 align=center
><font size=5>座右铭</td>
</tr>
<tr height=50 bgcolor=green>
<td width=720  colspan=6 style="text-align:center;">May there be enough clouds in my life, to make a beautiful sunset!
</td>
</tr>
</tr>
<td width=720 colspan=6></td>
</tr>
</table>
<center>
    <div id="bottom"> <img src="/static/images/kao_bottom.jpg" width="36" height="18" /> <a href="/" style='text-decoration:none'>Back</a>| <a href="/aboutme" style='text-decoration:none'>About Me</a> | &copy;2015 Lee </div>
</body>
</html>