<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
<title>HFL家教系统</title>
<link rel="stylesheet" href="/static/css/emx_nav_left.css" type="text/css" />
</head>
<body onmousemove="closesubnav(event);">
{% load myfilter %}
{% include "header_student.html" %}
<div id="pagecell1">
  <img alt="" src="/static/images/tl_curve_white.gif" height="6" width="6" id="tl" /> <img alt="" src="/static/images/tr_curve_white.gif" height="6" width="6" id="tr" />
  <div id="pageName">
    <h2 style="font-size:x-large;">学生信息发布</h2>
  </div>
  <div id="pageNav">
    <div id="sectionLinks">
	<a href="/lookthrough_student"><small>老 师</small>浏览</a>
	<a href="/newpublish_student" style="color:black;">学 生发布</a>
	<a href="/historypublish_student">历史<small>发 布</small></a>
	<a href="/historyget_student">历史<small>老 师</small></a>
	<a href="/praise_one_student"><small>完 成</small>评价</a>
	<a href="/search_student"><small>匹 配</small>查找</a>
	</div>
    <div id="advert" style='text-align:center;'> <img src="/static/images/adver.jpg" alt="" width="178" height="120" /><small><I>Tel: 0450-0000-0000</I></small></div>
  </div>
  <div id="content">
    <div class="list">
	<form method='post'>
		<table class='table table-bordered'>
		<tr>
			<td style="width:129px;">姓名</td><td style="width:210px;"><input name="name" type="text"></td>
		</tr>
		<tr>
			<td>性别</td>
			<td>男<input name="sex" type="radio" value='True' checked='checked'>女<input name="sex" type="radio" value='False'></td>
		</tr>
		<tr>
			<td>年龄</td><td><input name="age" type="text"></td>
		</tr>
		<tr>
			<td>在读中学</td><td><input name="school" type="text"></td>
		</tr>
		<tr>
			<td>年级</td><td><input name="grade" type="text"></td>
		</tr>
		<tr>
			<td>联系电话</td><td><input name="tel" type="text"></td>
		</tr>
		<tr>
			<td>联系地址</td><td><input name="address" type="text"></td>
		</tr>
		<tr>
			<td>邮箱</td><td><input name="email" type="text"></td>
		</tr>
		<tr>
			<td>方向</td><td style='font-size:small;'><h4>
		理科<input type="radio" name="wenli" value="True" checked='checked'/>文科<input type="radio" name="wenli" value="False" /></td>
		</tr>
		<tr style='font-size:small;'>
			<td style='font-size:medium;'>需补科目</td><td><h4>
			语<input type="checkbox" name="yuwen" value='True' />
			数<input type="checkbox" name="shuxue" value="True" />
			英<input type="checkbox" name="yingyu" value="True" />
			</td>
			<td>理科：
			物<input type="checkbox" name="wuli" value="True" />
			化<input type="checkbox" name="huaxue" value="True" />
			生<input type="checkbox" name="shengwu" value="True" />
			</td>
			<td>文科： 
			政<input type="checkbox" name="zhengzhi" value="True" />
			史<input type="checkbox" name="lishi" value="True" />
			地<input type="checkbox" name="dili" value="True" /></h4>
			</td>
		</tr>
		<tr style='font-size:x-small;'>
			<td style='font-size:medium;'>上课时间</td>
			<td><h4>周一：
			上午<input type="checkbox" name="day1_mor" value="True" />
			下午 <input type="checkbox" name="day1_aft" value="True" />	
			晚上 <input type="checkbox" name="day1_nig" value="True" />
			</h4>
			</td>
			<td><h4>周二：
			上午<input type="checkbox" name="day2_mor" value="True" />
			下午 <input type="checkbox" name="day2_aft" value="True" />	
			晚上 <input type="checkbox" name="day2_nig" value="True" />
			</h4>
			</td>
			<td><h4>周三：
			上午<input type="checkbox" name="day3_mor" value="True" />
			下午 <input type="checkbox" name="day3_aft" value="True" />
			晚上 <input type="checkbox" name="day3_nig" value="True" />
			</h4>
			</td>
			<td><h4>周四：
			上午<input type="checkbox" name="day4_mor" value="True" />
			下午 <input type="checkbox" name="day4_aft" value="True" />	
			晚上 <input type="checkbox" name="day4_nig" value="True" />
			</h4>
			</td>
		<tr style='font-size:x-small;'>
			<td>&nbsp;</td>
			<td><h4>周五：
			上午<input type="checkbox" name="day5_mor" value="True" />
			下午 <input type="checkbox" name="day5_aft" value="True" />	
			晚上 <input type="checkbox" name="day5_nig" value="True" />
			</h4>
			</td>
			<td><h4>周六：
			上午<input type="checkbox" name="day6_mor" value="True" />
			下午 <input type="checkbox" name="day6_aft" value="True" />	
			晚上 <input type="checkbox" name="day6_nig" value="True" />
			</h4>
			</td>
			<td><h4>周日：
			上午<input type="checkbox" name="day7_mor" value="True" />
			下午 <input type="checkbox" name="day7_aft" value="True" />
			晚上 <input type="checkbox" name="day7_nig" value="True" />
			</h4>
			</td>
		</tr>
		<tr>
			<td style='font-size:medium;'>老师要求</td><td style='font-size:small;'>均可<input name="sexrequest" type="radio" value='3' checked='checked'>男<input name="sexrequest" type="radio" value='1'>女<input name="sexrequest" type="radio" value='2'></td>
		</tr>
		<tr>
			<td style='font-size:medium;'>提供薪酬<small>（每小时）</small></td><td><h4>
			<select name="costperhour">
			<option value=1>20~29</option>
			<option value=2>30~39</option>
			<option value=3>40~49</option>
			<option value=4>50~100</option>
			<option value=5>100~</option>
			</select></h4></td>
		</tr>
		<tr>
			<td>&nbsp;</td><td><input type="submit" value="发布"> <input type="reset" value="重置"></td>
		</tr>
		</table>
	</form>
    </div>
  </div>
  <div id="siteInfo"><img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/AboutUs">About Us</a> | <a href="/ContactUs">Contact Us</a> | &copy;2015 HuangFengLee </div>
</div>
<br />
</body>
</html>
