<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
<meta http-equiv="Content-Type" content="text/html; charset=utf8;" />
<title>HFL家教系统</title>
<link rel="stylesheet" href="/static/css/emx_nav_left.css" type="text/css" />
</head>
<body onmousemove="closesubnav(event);">
{% load myfilter %}
{% include "header_student.html" %}
<div id="pagecell1">
  <img alt="" src="/static/images/tl_curve_white.gif" height="6" width="6" id="tl" /> <img alt="" src="/static/images/tr_curve_white.gif" height="6" width="6" id="tr" />
  <div id="pageName">
    <h2 style="font-size:x-large;">查找老师信息</h2>
  </div>
  <div id="pageNav">
    <div id="sectionLinks">
	<a href="/lookthrough_student"><small>老 师</small>浏览</a>
	<a href="/newpublish_student"><small>学 生</small>发布</a>
	<a href="/historypublish_student">历史<small>发 布</small></a>
	<a href="/historyget_student">历史<small>老 师</small></a>
	<a href="/praise_one_student"><small>完 成</small>评价</a>
	<a href="/search_student" style="color:black;">匹 配查找</a>
	</div>
    <div id="advert" style='text-align:center;'> <img src="/static/images/adver.jpg" alt="" width="178" height="120" /><small><I>Tel: 0450-0000-0000</I></small></div>
  </div>
  <div id="content">
    <div class="list">
	<form method='post'>
		<table class='table table-bordered'>
		<tr>
			<h4 style='color:blue;'> 工作待遇:
			<select name="getperhour">
			<option value=1>20~29</option>
			<option value=2>30~39</option>
			<option value=3>40~49</option>
			<option value=4>50~100</option>
			<option value=5>100~</option>
			<option value=0><small>无</small></option>
			</select>
			 文理:
			<select name="wenli">
			<option value='True'>理科</option>
			<option value='False'>文科</option>
			<option value='T&F'><small>无</small></option>
			</select>
			===>>> <input type='submit' value='开始匹配'></h4>
			</select>
			<br />
		</tr>
		<tr>
			<td>序号</td>
			<td>姓名</td>
			<td>性别</td>
			<td>文/理</td>
			<td>补习科目</td>
		</tr>
		{% for content in contents_list %}
			{% for teacher in content.teacher_set.all %}
			<tr>
			<td>**</td>
			<td><a href='/lookone_student/?teacher_id={{teacher.id}}&content_id={{content.id}}'>{{ teacher.name }}</a></td>
			<td>
			{% if teacher.sex == True %}
				男
			{% else %}
				女
			{% endif %}
			</td>
			<td>
			{% if content.wenli == True %}
				理科
			</td>
			<td>{% include "subject_like_teacher.html" %}</td>
			{% else %}
				文科
			</td>
			<td>{% include "subject_wenke_teacher.html" %}</td>
			</tr>
			{% endif %}
			{% endfor %}
		{% endfor %}
		</table>
	</form>
    </div>
  </div>
  <div id="siteInfo"><img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/AboutUs">About Us</a> | <a href="/ContactUs">Contact Us</a> | &copy;2015 HuangFengLee </div>
</div>
<br />
</body>
</html>
