<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<title>HFL家教系统</title>
<link rel="stylesheet" href="/static/css/emx_nav_left.css" type="text/css" />
</head>
<body onmousemove="closesubnav(event);">
{% load myfilter %}
{% include "header_teacher.html" %}
<div id="pagecell1">
  <img alt="" src="/static/images/tl_curve_white.gif" height="6" width="6" id="tl" /> <img alt="" src="/static/images/tr_curve_white.gif" height="6" width="6" id="tr" />
  <div id="pageName">
    <h2 style="font-size:x-large;">历史家教信息</h2>
  </div>
  <div id="pageNav">
    <div id="sectionLinks">
	<a href="/lookthrough_teacher"><small>学 生</small>浏览</a>
	<a href="/newpublish_teacher"><small>教 师</small>发布</a>
	<a href="/historypublish_teacher">历史<small>发 布</small></a>
	<a href="/historyget_teacher" style="color:black;">历史家 教</a>
	<a href="/praise_teacher"><small>已 获</small>评价</a>
	<a href="/info_teacher">教师<small>信 息</small></a>
	<a href="/search_teacher"><small>匹 配</small>查找</a>
	</div>
    <div id="advert" style='text-align:center;'> <img src="/static/images/adver.jpg" alt="" width="178" height="120" /><small><I>Tel: 0450-0000-0000</I></small></div>
  </div>
  <div id="content">
    <div class="list">
	<form>
		<table class='table table-bordered'>
		<tr>
			<td>序号</td>
			<td>姓名</td>
			<td>性别</td>
			<td>文/理</td>
			<td>补习科目</td>
			<td>开始日期</td>
		</tr>
		{% for content_teacher in contents_list %}
			{% for content in content_teacher.content_stu.all %}
			{% for student in content.student_set.all %}
				<tr>
				<td> ** </td>
				<td><a href='/lookone_teacher/?student_id={{student.id}}&content_id={{content.id}}'>
				{{ student.name }}</a></td>
				<td>
				{% if student.sex %}
					男</td>
				{% else %}
					女</td>
				{% endif %}
				<td>
				{% if content.wenli == True %}
					理科</td>
				<td>{% include "subject_like_teacher.html" %}</td>
				{% else %}
					文科</td>
				<td>{% include "subject_wenke_teacher.html" %}</td>
				{% endif %}
				<td> {{ content.publishdate }} </td>
				</tr>
			{% endfor %}
			{% endfor %}
		{% endfor %}
		</table>
	</form>
    </div>
  </div>
  <div id="siteInfo"><img src="/static/images/kao_bottom.jpg" width="44" height="22" /> <a href="/AboutUs">About Us</a> | <a href="/ContactUs">Contact Us</a> | &copy;2015 HuangFengLee </div>
</div>
<br />
</body>
</html>
