body{
	font-family: "黑体";
	color: #333333;
	line-height: 1.166;	
	background:url(/static/images/kao_top.gif) 0 0 no-repeat scroll transparent;
	background-size:cover;
	text-align:center;
	z-index:9;
}

h1{
	margin: 40 0 20 0;
	padding: 20 0 40 0;
	color: blue;
	border-bottom: 1px solid #cccccc;
}

h2{
	text-align: center;
}

#globalNav{
	margin: 3 0 9 0;
	padding: 3 0 9 0;
	color: blue;
	font: 90% 黑体;
}

#globalNav a{
	text-decoration: none;
}

#utility{
	font: 90% 黑体;
	position: absolute;
	top: 69px;
	right: 3px;
	color: #919999;
}

#utility a{
	text-decoration: none;
}

form{
	padding: 20 0 0 0;
	margin: 0 auto;
	width: 360px;
}

#list{
	text-align: center;
	z-index:99;
}

#table{
	padding: 20 0 0 0;
	margin: 0 auto;
	width: 900px;
}

#bottom{
	padding: 0 0 0 0;
	margin: 0 0 0 36%;
	position:fixed;
	font-size:100%;
	color:green;
	bottom:0px;
	z-index:999;
}